body{
    background-color: gray;
    font-family:Arial, Helvetica, sans-serif;
}

.heading{
    margin-top: 25px;
    font-size:large;
    color:whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sect1{
    margin-left: 150px;
    margin-right: 50px;
    float:left;
}

.sect2{
    margin-right:150px;
    margin-left:50px;
    float:right;
}

.rollsect{
    margin-top: 100px;
}

.p1{
    border-radius: 10px;
    background-color:wheat;
    font-size:20px;
    margin-left:100px;
    float:left;
    
}

.p2{
    border-radius: 10px;
    background-color:wheat;
    font-size: 20px;
    margin-right: 100px;
    float:right;

}

.p1:active{
    background-color: green;
}

.p2:active{
    background-color: green;
}

.output1{
    margin-top: 100px;
    float:left;
    font-size: 50px;
    width:100px;
    height:100px;
    border-radius: 15px;
}

.output2{
    margin-top: 100px;
    float:right;
    font-size: 50px;
    width:100px;
    height:100px;
    border-radius: 15px;
}

.total1{
    float: left;
    margin-top:300px ;
    font-size: medium;
    background-color: transparent;
    border-color: black;
    border-radius: 10px;
    display: none;
}

.total2{
    float: right;
    margin-top:300px ;
    font-size: medium;
    background-color: transparent;
    border-color: black;
    border-radius: 10px;
    display: none;
}

.yout{
    text-align: center;
    color:red;
    display: none;
    font-size: larger;
    height: 60px;
    width:375px;
    margin-left: 490px;
    border-radius: 20px;
    background-color: black;
}

.out{
    margin-bottom: 50px;
    text-align: center;
    color:gold;
    display: none;
    font-size: larger;
    height: 60px;
    width: 275px;
    margin-left: 530px;
    border-radius: 30px;
    background-color: black;
}


